<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="center-container">
    <div class="center selector-wrapper">
      <span class="selector-text vertical-center"> Deck size </span>
      <card-number-selector
        class="selector"
        *ngIf="isCardNumberSelectorVisible"
      ></card-number-selector>
    </div>

    <div class="btn rules vertical-center" routerLink="/landing-page">
      <span>RULES</span>
    </div>

    <div class="btn new-game vertical-center" routerLink="/game-page">
      <span>START NEW GAME</span>
    </div>
  </div>
</div>
