:host {
  width: 100%;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}
.header {
  position: relative;
  // background-color: olivedrab;
  height: 70px;
  width: 100%;
}
.current-steps {
  font-size: 25px;

  position: relative;
  float: left;
}

.restart {
  color: black;
  position: relative;
  float: right;
  border: 1px solid black;
}
.restart:hover {
  cursor: pointer;
  background-color: paleturquoise;
}
.best-steps {
  font-size: 25px;

  text-align: center;
}
// .best-value
