<h1>The world best memory game?</h1>
<p>
  Memory has long been a favorite game for all generations. It is easy to play,
  in fact it is so simple that really young children can play with ease.
</p>

<p>It requires observation, concentration and a good memory to win.</p>
<p>
  Although the game is designed so two players play against each other it can
  also be played by a single player.
</p>

<h1>Game</h1>
<p>The object of the game is to collect the most matching pairs.</p>

<i>
  Note: There are also special memory decks available with matching pictures.
  They are usually have a theme like fish or animals. These may be best when
  playing with really young children.
</i>

<h1>Winning the Game</h1>
<p>
  Once all the cards have been played the player with the most matching pairs is
  the winner.
</p>
<hr />
It was too much work for me this time so I did not finish the GIANT task Todo:
<ul>
  <li>Implement flippable cards on the UI</li>
  <li>dispatch increase stepCounter in the store after every two flip</li>
  <li>
    if the game end, then save the score into the bestStep in case if its lower
    than the actual value
  </li>
  <li>
    Backend: identify the client, save the stare also on the backend side & keep
    in sync after everey user interaction -> implement side effects in the game
    effect.ts
  </li>
  <li>
    when the page is reloading, then try to get the ui store value from there...
  </li>
  <li>disable card number</li>
</ul>
