<h1>What is Lorem Ipsum?</h1>
<p>
  Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
  when an unknown printer took a galley of type and scrambled it to make a type
  specimen book. It has survived not only five centuries, but also the leap into
  electronic typesetting, remaining essentially unchanged. It was popularised in
  the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
  and more recently with desktop publishing software like Aldus PageMaker
  including versions of Lorem Ipsum.
</p>

<hr>
It was too much work for me this time so I did not finished the GIANT task
Todo:
- Implement flippable cards on the UI
- dispatch increase stepCounter in the store after every two flip
- if the game end, then save the score into the bestStep in case if its lower than the actual value
- Backend: identify the client, save the stare also on the backend side & keep in sync after everey user interaction
  -> implement side effects in the game effect.ts
- when the page is reloading, then try to get the ui store value from there...

- design & position buttons, replace dummy text :)
- shuffle the card list
- disable card number
  